<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="user-wrapper">
  <div class="card">
    <div class="card-header">
      <h2>All Users</h2>

      <div class="controls">
        <input type="text" placeholder="Search users..." [(ngModel)]="searchTerm" class="search-box" />

        <select [(ngModel)]="itemsPerPage" class="dropdown">
          <option [value]="4">4 per page</option>
          <option [value]="6">6 per page</option>
          <option [value]="10">10 per page</option>
        </select>

        <button (click)="downloadData()" class="download-btn">Download CSV</button>
      </div>
    </div>

    <div class="table-wrapper">
      <table class="user-table">
        <thead>
          <tr>
            <th>#</th>
            <th (click)="changeSort('email')">Email</th>
            <th (click)="changeSort('phone')">Phone</th>
            <th (click)="changeSort('location')">Location</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers() | paginate: { itemsPerPage, currentPage }; let i = index">
            <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.location?.city || '-' }}, {{ user.location?.state || '-' }}</td>
            <td>
              <!-- <button class="view-btn" (click)="viewUser(user._id)"><span><i class="fa-solid fa-eye"></i></span>
                View</button> -->
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="filteredUsers().length === 0" class="no-data">No users found.</div>
    </div>

    <pagination-controls (pageChange)="currentPage = $event" [autoHide]="true" previousLabel="«" nextLabel="»">
    </pagination-controls>
  </div>
</div>
